<div class="view-container">
  <form [formGroup]="queryControl">
    <div class="search-container">
      <mat-form-field class="product-search">
        <mat-label>Search a product here</mat-label>
        <input matInput type="text" formControlName="name">
        <button mat-icon-button color="primary" matSuffix aria-label="Search button">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="products-and-filter">
      <div [ngClass]="shouldShowFilter ? 'side-filter' : 'hide'">
        <div class="filter-group">
          <h4 class="input-title">Price range</h4>
          <small>From</small>
          <input class="price-input" type="number" placeholder="min price" formControlName="startPrice">
          <small>To</small>
          <input class="price-input" type="number" placeholder="max price" formControlName="endPrice">
        </div>
        <div class="filter-group">
          <h4 class="input-title">Department</h4>
          <div class="checkbox-input" *ngFor="let department of filtersAvailable.departments">
            <input type="checkbox" [checked]="isChecked('departmentsDTO', department)" (change)="addInDepartmentHierarchyFilter($event, department, 'departmentsDTO')">{{ department }}
          </div>
        </div>
        <div class="filter-group">
          <h4 class="input-title">SubDepartment</h4>
          <div class="checkbox-input" *ngFor="let subDepartment of filtersAvailable.subDepartments">
            <input type="checkbox" [checked]="isChecked('subDepartmentsDTO', subDepartment)" (change)="addInDepartmentHierarchyFilter($event, subDepartment, 'subDepartmentsDTO')">{{ subDepartment }}
          </div>
        </div>
        <div class="filter-group">
          <h4 class="input-title">Category</h4>
          <div class="checkbox-input" *ngFor="let category of filtersAvailable.categories">
            <input type="checkbox" [checked]="isChecked('categoriesDTO', category)" (change)="addInDepartmentHierarchyFilter($event, category, 'categoriesDTO')">{{ category }}
          </div>
        </div>
      </div>
      <div class="product-view">
        <div class="sort">
          <button mat-stroked-button color="primary" *ngIf="howManyFiltersAreUsed() === 0;else ButtonWithBadge" (click)="toggleFilter()">
            Filters<mat-icon>filter_list</mat-icon>
          </button>
          <div>
            <button class="sort-item" mat-stroked-button color="primary">
              <span>Sort by </span>
              <select class="primary-color" id="sortField" formControlName="sortField" [(value)]="queryControl.value.sortField">
                <option *ngFor="let sortField of sortFields" [value]="sortField">{{ sortField }}</option>
              </select>
              <select class="primary-color" formControlName="sortDirection" >
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
              </select>
            </button>
          </div>
          <button mat-stroked-button color="primary" class="sort-item">{{ resultsLength }} Products found!</button>
        </div>
        <mat-divider></mat-divider>
        <h4 [ngClass]="errorMessage.length > 0 ? 'error-message' : 'hide'">{{ errorMessage }}</h4>
        <div class="products" [ngClass]="errorMessage.length == 0 ? '' : 'hide'">
            <mat-card class="product-card" [style.width]="cardWidth" *ngFor="let product of products">
              <div class="image-container">
                <img mat-card-image *ngIf="product.images.length > 0;else NoImageAvailable" [src]="product.images[0].url" alt="">
              </div>
              <mat-card-content>{{ product.name | slice:0:70 }}<span *ngIf="product.name.length > 70">...</span></mat-card-content>
              <mat-card-content class="price">{{ product.price | currency: 'USD' }}</mat-card-content>
              <button mat-raised-button color="primary"
                (click)="addToCart()"><mat-icon>add_shopping_cart</mat-icon>BUY</button>
            </mat-card>
        </div>
        <div>
          <div class="paginator-container">
            <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions"
              aria-label="Select page of product search results"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #ButtonWithBadge>
  <button mat-stroked-button color="primary" [matBadge]="howManyFiltersAreUsed()" matBadgeColor="accent" (click)="toggleFilter()">
    Filters<mat-icon>filter_list</mat-icon>
  </button>
  <button mat-button color="primary" class="clear-filter" (click)="clearFilters()">Clear filters</button>
</ng-template>

<ng-template #NoImageAvailable>
  <img mat-card-image src="assets/product/noImageAvailable.jpeg" alt="No pictures were uploaded to this product">
</ng-template>
