<div class="view-container">
  <div class="products">
    <div *ngFor="let product of products">
      <mat-card class="product-card">
        <div class="image-container">
          <img mat-card-image *ngIf="product.images.length > 0" [src]="product.images[0].url" alt="">
        </div>
        <mat-card-content>{{ product.name | slice:0:75 }} </mat-card-content>
        <mat-card-content class="price">{{ product.price | currency: 'USD'  }}</mat-card-content>
        <button mat-raised-button color="primary" (click)="addToCart()"><mat-icon>add_shopping_cart</mat-icon>BUY</button>
      </mat-card>
    </div>
  </div>
  <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 20, 50]" aria-label="Select page of product search results"></mat-paginator>
</div>

