.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.menu-item{
  margin: 0;
}

.menu {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #673AB7;
  padding: 10px;
  z-index: 2;
  font-size: 0.6em;
}

.menu:hover .options {
  display: block;
}

.options a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: white;
}

.options a:hover {
  background-color: #7341ca;
}
